/* -----------------------------------------
                         import Font 
---------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}
/* ------------------------------------------
         Header nav style 
------------------------------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
    /* flex-direction: row; */
}
.navigation li{
    list-style: none;
    margin-left: 10px;
}
.header-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    /* align-items: center; */
    height: calc(100vh - 80px);

}
/*-------------------------------------------
         Header left section styles
---------------------------------------- */
.section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-left h1{
    color: #3A3A3A;
    font-size: 52px;
}
.section-left p{
    margin: 15px 0;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
}
.primary-button{
    outline: none;
    border: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E02C6D;
    width: 190px;
    height: 44px;
    border-radius: 45px;

}
.primary-button p{
    color: #FFFFFF;
    font-weight: 700;
}
/* ----------------------------------------------------------
                     Header right setion styles
---------------------------------------------- */
.camera-img{
    padding: 80px 80px;
}
.section-right img{
    display: flex;
    position: absolute;
}